<!DOCTYPE html>
{% load static %}

<html>
    <head>
        <title>Beclaw bingo</title>
        <link rel="stylesheet" type="text/css" href="{% static 'bingo/style.css' %}">
    </head>
    <body>

        <h1  id="title">Bęcław Bingo</h1>
        <!-- <input type="text", value="Enter name"> -->
        <br/>
        <br/>
        <!-- {{views}} addplayer {{'and'}} -->
        <button onclick="addPlayer()" id="play">Play game</button>
        <script>
            function addPlayer(){
                // alert("addPlayer");
                window.location.replace("{% url 'game'%}");
                // window.location.href = "{% url '1/addplayer/'}";
            }
        </script>
    </body>
</html>