body {
    background-color: lightgray;
    text-align: center;
}

#title {
    font-weight: 300;
}

button {
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
}

a {
    color: white;
    text-decoration: none;
}

button:hover {
    background-color: #5CbF70;
}

input {
    text-decoration: none;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 4px;
}

table {
    /* table-layout: fixed; */
    margin: auto;   
    /* width: 300px;
    height: 300px; */
}
.bingo_cell {
    height: 100px;
    width: 100px;
}
.bingo_cell:hover {
    background-color: #30308A;
}
.bingo_cell_unclicked {
    background-color: darkgray;
}
.bingo_cell_clicked{
    background-color: #0A0AFA !important;
}
/* th {
    table-layout: fixed;
    height: 100px;
    width: 100px;
    max-height: 100px;
    min-height: 100px;
}
tr {
    table-layout: fixed;
    width: 100px;
    min-width: 100px;
    max-width: 100px;
    height: 100px;
} */